parameters:
	ignoreErrors:
		-
			message: '#^Return type \(array\<string, mixed\>\) of method Siteman\\Cms\\Database\\Factories\\MenuFactory\:\:definition\(\) should be compatible with return type \(array\<model property of Siteman\\Cms\\Models\\Menu, mixed\>\) of method Illuminate\\Database\\Eloquent\\Factories\\Factory\<Siteman\\Cms\\Models\\Menu\>\:\:definition\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: database/factories/MenuFactory.php

		-
			message: '#^Return type \(array\<string, mixed\>\) of method Siteman\\Cms\\Database\\Factories\\MenuItemFactory\:\:definition\(\) should be compatible with return type \(array\<model property of Siteman\\Cms\\Models\\MenuItem, mixed\>\) of method Illuminate\\Database\\Eloquent\\Factories\\Factory\<Siteman\\Cms\\Models\\MenuItem\>\:\:definition\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: database/factories/MenuItemFactory.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:markdownBlockquote\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: database/factories/PageFactory.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:markdownBulletedList\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: database/factories/PageFactory.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:markdownH1\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: database/factories/PageFactory.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:markdownH2\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: database/factories/PageFactory.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:markdownH3\(\)\.$#'
			identifier: method.notFound
			count: 6
			path: database/factories/PageFactory.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:markdownP\(\)\.$#'
			identifier: method.notFound
			count: 11
			path: database/factories/PageFactory.php

		-
			message: '#^Return type \(array\<string, mixed\>\) of method Siteman\\Cms\\Database\\Factories\\PageFactory\:\:definition\(\) should be compatible with return type \(array\<model property of Siteman\\Cms\\Models\\Page, mixed\>\) of method Illuminate\\Database\\Eloquent\\Factories\\Factory\<Siteman\\Cms\\Models\\Page\>\:\:definition\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: database/factories/PageFactory.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:markdownBlockquote\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: database/factories/PostFactory.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:markdownBulletedList\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: database/factories/PostFactory.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:markdownH1\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: database/factories/PostFactory.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:markdownH2\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: database/factories/PostFactory.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:markdownH3\(\)\.$#'
			identifier: method.notFound
			count: 6
			path: database/factories/PostFactory.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:markdownP\(\)\.$#'
			identifier: method.notFound
			count: 11
			path: database/factories/PostFactory.php

		-
			message: '#^Return type \(array\<string, mixed\>\) of method Siteman\\Cms\\Database\\Factories\\PostFactory\:\:definition\(\) should be compatible with return type \(array\<model property of Siteman\\Cms\\Models\\Post, mixed\>\) of method Illuminate\\Database\\Eloquent\\Factories\\Factory\<Siteman\\Cms\\Models\\Post\>\:\:definition\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: database/factories/PostFactory.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:onlyTrashed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Resources/PageResource/Pages/ListPages.php

		-
			message: '#^Call to an undefined static method Illuminate\\Database\\Eloquent\\Model\:\:onlyTrashed\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Resources/PageResource/Pages/ListPages.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:onlyTrashed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Resources/PostResource/Pages/ListPosts.php

		-
			message: '#^Call to an undefined static method Illuminate\\Database\\Eloquent\\Model\:\:onlyTrashed\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/Resources/PostResource/Pages/ListPosts.php

		-
			message: '#^Method Siteman\\Cms\\Torchlight\\BaseExtension\:\:getTheme\(\) should return string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Torchlight/BaseExtension.php

		-
			message: '#^Method Siteman\\Cms\\Torchlight\\BaseExtension\:\:renderNode\(\) should return string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Torchlight/BaseExtension.php

		-
			message: '#^Property Siteman\\Cms\\Torchlight\\BaseExtension\:\:\$customBlockRenderer \(callable\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Torchlight/BaseExtension.php

		-
			message: '#^Static method League\\CommonMark\\Util\\Xml\:\:escape\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Torchlight/BaseExtension.php
